jupyter
numpy
scipy
pandas
openpyxl
requests
sqlalchemy
sqlalchemy_utils
psycopg2-binary
matplotlib
geopandas
descartes
geoalchemy2
ipynb-py-convert
unidecode
setuptools==58
pydot2
networkx[default,extra]
